{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">
                    <h2>Cyber_World</h2>
                    <p style="text-align: center;
                                background-color: #0000006b;
                                border-radius: 18px;">Рик и Морти - американский анимационный телесериал, созданный Дэном Хармоном и Джастином
                        Ройландом, премьера которого состоялась 2 декабря 2013 года в программном блоке Cartoon Network
                        [adult swim].

                        Первый сезон шоу состоит из 11 двадцати двух минутных эпизодов. После выхода в эфир первых шести
                        эпизодов, создатели мултфильма продлил шоу на второй сезон, состоящий из 10 двадцати двух
                        минутных эпизодов. Далее шоу было продлено на третий сезон, состоящий из 10 двадцатидвухминутных
                        эпизодов, которые транслировались летом 2017 года.

                        Сериал был основан на серии грубо анимированных короткометражных фильмов для канала 101,
                        основанных на пародии Back to the Future "The Real Animated Adventures of Doc and Mharti"
                        Джастина Ройланда.</p>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="owl-banner owl-carousel">
                    <div class="item">
                        <img src="static/images/r2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="static/images/r3.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}