<!-- Basic stylesheet -->
<link rel="stylesheet" href="owl-carousel/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="owl-carousel/owl.theme.css">

<!-- You can use latest version of jQuery  -->
<script src="jquery-1.9.1.min.js"></script>

<!-- Include js plugin -->
<script src="assets/owl-carousel/owl.carousel.js"></script>




<link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap/css/test.css') }}">

<script src="static/vendor/bootstrap/js/test.js"></script>

<div id="owl-demo" class="owl-carousel owl-theme">

    <div class="item"><img src="static/images/r2.png" alt="Owl Image"></div>
    <div class="item"><img src="static/images/r3.png" alt="Owl Image"></div>

</div>
