<!-- ***** Header Area Start ***** -->
{% load static %}

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="{% static '/images/logo.png' %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index' %}" {% if request.path == index %} class="active" {% endif %}>Главная</a></li>
                        <li><a href="{% url 'blog' %}" {% if request.path ==  blog %} class="active" {% endif %}>Блог</a></li>
                        <li><a href="{% url 'products' %}" {% if request.path ==  products %} class="active" {% endif %}>Продукты</a>
                        </li>
                        <li><a href="#" {% if request.path ==  author %} class="active" {% endif %}>Участники</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'create' %}" {% if request.path == create %} class="active" {% endif %}>Создать</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                          <li><a href="{% url 'edit_cabinet' %}" {% if request.path == edit_cabinet %} class="active" {% endif %}>Кабинет</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}" {% if request.path == login %} class="active" {% endif %}>Вход</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>